body {
 background: #353535;
}
h1{
    font-weight: 1000;
    font-family: "Arial";
    text-align: center;
    text-decoration: underline; 
    color: white; 
}
h2{
    text-align: left;
    font-family: "Arial";
    text-decoration: underline overline;
    color: #f73434;
    animation-duration: 3s;
    animation-name: slidein; 
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
 }

h3{
    text-align: left;
    font-family: "Arial";
    text-decoration: underline overline;
    color: white;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
 }

p{ 
 color: white;
 font-family: "Arial";
 text-decoration: underline;
 
}
