body {
 background: #353535;
}
h1{
    font-weight: 1000;
    font-family: "Arial";
    text-align: center;
    text-decoration: underline; 
    color: white; 
}
h2{
    text-align: left;
    font-family: "Arial";
    text-decoration: underline overline;
    color: #f73434;
}

h3{
    text-align: left;
    font-family: "Arial";
    text-decoration: underline overline;
    color: white;
}


p{ 
 color: white;
 font-family: "Arial";
 text-decoration: underline;
 letter-spacing: 0.5em;
}
